<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="head">
                <div class="logo">
                    <img src="../images/logo.png" alt="tvn">
                </div>
                <nav>
                    <div class="menu-icon">
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <ul>
                        <li><a href="">why choose us</a></li>
                        <li><a href="">industries</a></li>
                        <li><a href="">works</a></li>
                        <li><a href="">our team</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                </nav>
            <div class="lang">
                <a href="">END/VN</a>
            </div>
        </div>
    </header>
    <section>
        <div class="row">
            <!-- phan noi dung text -->
            <div class="col">
                <div class="content">
                    <h1>Industries</h1>
                    <p>
                        Unlock the power of your data with interactive dashboards and beautiful reports that inspire smarter business decisions. It's easy and free.
                    </p>
                    <!-- tag chi tiet -->
                    <a href="">Contact Us</a>
                </div>
            </div>
            <!-- phan hinh anh -->
            <div class="col">
                <div class="img">
                    <img src="../images/Industries_03.jpg" alt="Industries-1">
                </div>
            </div>
        </div>
        <div class="row">
            <!-- phan noi dung text -->
            <div class="col">
                <div class="content">
                    <h3>Our Industries</h3>
                    <h2>Consumer Electronics</h2>
                    <p>
                        Unlock the power of your data with interactive dashboards and beautiful reports that inspire smarter business decisions. It's easy and free.
                    </p>
                    <!-- tag chi tiet -->
                    <a href="">LEARN MORE</a>
                </div>
            </div>
            <!-- phan hinh anh -->
            <div class="col">
                <div class="img">
                    <img src="../images/Industries_03.jpg" alt="Industries-2">
                </div>
            </div>
        </div>
        <div class="row">
            <!-- phan noi dung text -->
            <div class="col">
                <div class="content">
                    <h3>Our Industries</h3>
                    <h2>fintech</h2>
                    <p>
                        Unlock the power of your data with interactive dashboards and beautiful reports that inspire smarter business decisions. It's easy and free.
                    </p>
                    <!-- tag chi tiet -->
                    <a href="">LEARN MORE</a>
                </div>
            </div>
            <!-- phan hinh anh -->
            <div class="col">
                <div class="img">
                    <img src="../images/Industries_03.jpg" alt="Industries-3">
                </div>
            </div>
        </div>
        <div class="row">
            <!-- phan noi dung text -->
            <div class="col">
                <div class="content">
                    <h3>Our Industries</h3>
                    <h2>Healtcare</h2>
                    <p>
                        Unlock the power of your data with interactive dashboards and beautiful reports that inspire smarter business decisions. It's easy and free.
                    </p>
                    <!-- tag chi tiet -->
                    <a href="">LEARN MORE</a>
                </div>
            </div>
            <!-- phan hinh anh -->
            <div class="col">
                <div class="img">
                    <img src="../images/Industries_03.jpg" alt="Industries-4">
                </div>
            </div>
        
        
    </section>
    <footer>
        <div class="container">
            <div class="row-footer">
                <div class="logo">
                    <img src="../images/logo.png" alt="tvm">
                </div>
                <nav>
                    <ul>
                        <li><a href="">why choose us</a></li>
                        <li><a href="">industries</a></li>
                        <li><a href="">works</a></li>
                        <li><a href="">our team</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>