<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ex8.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="icon-menu">
            <span class="icon-menu"></span>
        
        </div>
        <ul>
            <li><a href="">trang chu</a></li>
            <li><a href="">san pham</a></li>
            <li><a href="">dich vu</a></li>
            <li><a href="">ho tro</a></li>
            <li><a href="">lien he</a></li>
        </ul>
    </nav>
</body>
</html>