body{
    background-color: red;
}

/* @media screen and (max-width: 1600px) {
    body{
        background-color: yellow;
    }
}
@media screen and (max-width: 1200px) {
    body{
        background-color: green;
    }
}
@media screen and (max-width: 800px) {
    body{
        background-color: blue;
    }
} */

@media screen and (min-width: 800px) {
    body{
        background-color: blue;
    }
}
@media screen and (min-width: 1200px) {
    body{
        background-color: green;
    }
}
@media screen and (min-width: 1600px) {
    body{
        background-color: yellow;
    }
}

/*2 types, mobile first or desktop first, design based on the smallest or biggest*/
