@media (min-width: 400px){
    html,body{
        font-size: 14px;
        background-color: black;
    }
}
@media (min-width: 1000px){
    html,body{
        font-size: 14px;
        background-color: white;
    }
}
@media (min-width: 1200px){
    html,body{
        font-size: 14px;
        background-color: green;
    }
}