*{
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 16px;
    background-color: red;
}

@media (min-width: 575.98px){
    html, body {
        font-size: 16px;
        background-color: green;
    }
}
@media (min-width: 767.98px){
    html, body {
        font-size: 16px;
        background-color: purple;
    }
}
@media (min-width: 998.98px){
    html, body {
        font-size: 16px;
        background-color: orange;
    }
}
@media (min-width: 991.98px){
    html, body {
        font-size: 16px;
        background-color: black;
    }
}

